@import url('../Colors.css');

.manager-card {
    background-color: var(--second-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 24px;
    margin-bottom: 24px;
    margin-right: 36px;
}

.manager-card img {
    margin-bottom: 16px;
    max-width: 100%;
}

.manager-card h3 {
    color: var(--text-color);
}

.manager-card p {
    color: var(--disable-color);
}

.manager-card-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.manager-card-img img {
    max-width: 75%;
}

.contact-container {
    margin-top: 20px;
}

.messenger-logos a {
    margin-right: 10px;
}

.manager-card {
    background-color: var(--second-color);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.manager-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.messenger-logos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.messenger-logos img {
    width: 30px;
    margin-right: 10px;
    transition: all .5s ease;
}

.messenger-logos img:hover {
    filter: opacity(0.5);
    transform: scale(1.1);
}